.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

body {
  margin: 0;
  background-image: url("fruits.png");
  font-size: 16px;
  text-align: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header-text {
  text-align: center;;
  margin-bottom: 50px;
  padding: 40px;
  background-color: white;
  color:rgb(64, 135, 163);
  opacity: 90%;
}

.fruit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}

.card {
  width: 300px;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 135, 163);
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
  opacity: 90%;
}

.text {
  color: white;
}

.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  margin-top: 20px;
  width: 350px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 15px;
}

.liker {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  color: white;
  margin: 15px
}